/* Import Font Radio Canada sesuai desain di PDF hal 64 */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default font & background */
body {
  font-family: 'Radio Canada', sans-serif;
  background-color: #F5F8FF; /* Warna background dashboard */
  color: #2A2E3A;
}