@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #F5F8FF;
  --foreground: #2A2E3A;
  --gn-primary: #1E3A8A;
  --gn-secondary: #FFC107;
  --gn-soft: #E8F0FE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gn-primary: var(--gn-primary);
  --color-gn-secondary: var(--gn-secondary);
  --color-gn-soft: var(--gn-soft);
  --font-sans: 'Radio Canada', var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Radio Canada', sans-serif;
}
